/* src/components/Navbar.css */
.custom-navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  color: #007bff;
}

.nav-button {
  margin-right: 1rem;
  color: #007bff;
  border-color: #007bff;
  transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

